/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --white: #fff;
  --lighterGrey: #f7f8fa;
  --grey: #d7d8db;
  --mediumGrey: #6d7378;
  --veryDarkGrey: #222;
  --disabledGrey: #b6b9bb;
  --primaryBlue: #0870d1;
  --primaryBlueHover: #2986f7;
  --accentFill: #7fc1ff;
  --teal: #07d3d4;
  --darkYellow: #fccc00;
  --lightPurple: #aeaeff;
  --negativeRed: #ff0033;
}

body {
  scroll-behavior: smooth;
}

.disabled {
  pointer-events: none;
}
