.login--wrapper,
form {
  display: flex;
  flex-direction: column;
}

.login--wrapper {
  align-items: center;
  flex: 1 0 600px;
  position: relative;
  padding: 2%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.login--section {
  width: inherit;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lighterGrey);
  border: 1px solid var(--white);
  border-radius: 4px;
}

.login--section > div {
  max-width: 400px;
}

.login--wrapper {
  background-color: var(--white);
}
.auth--header {
  margin-bottom: 1.5rem;
}

form {
  width: 100%;
  gap: 0.75rem;
}

form > * {
  flex: 50%;
}

label {
  margin-bottom: -5px;
}

input:not([type='submit']),
textarea {
  border: 1px solid rgb(215, 216, 219);
  border-radius: 4px;
  height: 44px;
  font-size: 1rem;
  resize: none;
  padding: 12px 16px;
  width: 100%;
}

input:not([type='submit']) {
  border: 1px solid rgb(215, 216, 219);
}

.demo--login-or {
  padding: 0.75em 0;
  position: relative;
}

.demo--login-or::after {
  height: 2px;
  width: 150%;
  content: '';
  background-color: var(--veryDarkGrey);
  right: 120%;
  top: 50%;
  position: absolute;
}

.demo--login-or::before {
  height: 2px;
  width: 150%;
  content: '';
  background-color: var(--veryDarkGrey);
  left: 120%;
  top: 50%;
  position: absolute;
}

.login--wrapper > h2 {
  margin: 0;
}
