button {
  border: 0;
}
button:disabled {
  background: var(--mediumGrey) !important;
  border: 1px solid var(--mediumGrey) !important;
}

.log,
.nav--button {
  cursor: pointer;
  color: black;
  background-color: transparent;
}

.nav--button:hover {
  color: var(--primaryBlueHover);
}

.auth--btn {
  color: var(--lighterGrey);
  cursor: pointer;
  background-color: var(--primaryBlue);
  border-color: var(--primaryBlue);
  font-weight: 700;
  line-height: 20px;
  border-radius: 28px;
  max-height: 48px;
  text-align: center;
  /* padding: 12px 22px; */
  width: 100%;
  padding: 12px 22px;
}

.auth--btn:hover {
  border-color: var(--primaryBlueHover);
  background-color: var(--primaryBlueHover);
}

.login-nav-btn {
  color: var(--veryDarkGrey);
  font-weight: 700;
  margin-left: 16px;
  align-self: center;
}

.login-nav-btn:hover,
.signup-nav-btn:hover {
  color: var(--primaryBlueHover);
}

.signup-nav-btn,
.upload--btn,
.btn--reverse-color {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  border: 2px solid var(--veryDarkGrey);
  border-radius: 100px;
  padding: 0.4em 0.7em;
  /* line-height: 16px; */
}

.signup-nav-btn {
  margin-left: 16px;
}
.btn--reverse-color {
  background-color: var(--veryDarkGrey);
  color: var(--lighterGrey);
}

.editors-choice-btn {
  font-size: 1.5rem;
  padding: 0.5em 1em;
  margin-bottom: 20px;
}

.started--btn {
  font-size: 1.5rem;
  padding: 0.5em 1.5em;
  margin-bottom: 20px;
}

.signup-nav-btn:active {
  background-color: var(--primaryBlue);
  border-color: var(--primaryBlue);
  color: var(--lighterGrey);
}

.demo--btn {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  /* max-width: 270px; */
  width: 100%;
}

.btn--icon {
  margin-right: 5px;
}

.upload--btn {
  max-height: 48px;
  min-width: 124px;
  text-align: center;
  padding: 10px 22px 10px 14px;
}

.upload--btn:hover {
  color: var(--veryDarkGrey);
  background-color: var(--lighterGrey);
  border-color: var(--veryDarkGrey);
}

.upload--btn:active {
  color: var(--lighterGrey);
  background-color: var(--veryDarkGrey);
  border-color: var(--lighterGrey);
}

.root--sign-up {
  font-size: 3rem;
  padding: 1rem;
}

button {
  cursor: pointer;
}

.signup--redirect {
  color: var(--primaryBlue);
}

.signup--redirect:hover {
  border-bottom: 1px solid var(--primaryBlue);
}
