.errors--wrapper {
  color: var(--negativeRed);
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
  gap: 8px;
  position: absolute;
  left: 0;
  right: 0;
  top: 17%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
