.errors--wrapper,
.notification--wrapper {
  color: var(--negativeRed);
  display: inline-flex;
  font-size: 1.1rem;
  font-weight: 600;
  gap: 8px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 2rem 2rem;
  min-height: 2rem;
  align-items: center;
  z-index: 5000;
}

input:invalid {
  color: var(--negativeRed);
  border: 1px solid var(--negativeRed) !important;
  outline: none;
}
