footer {
  color: var(--mediumGrey);
  padding: 0 15%
}

footer h4 {
  font-size: 1.22rem;
  font-weight: 700;
  margin-bottom: 0;
  white-space: nowrap;
}

.footer--wrapper {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.footer--wrapper ul {
  list-style-type: none;
  padding: 0;
}

.footer--wrapper li {
  margin-bottom: 0.75rem;
  white-space: nowrap;
}

.footer--wrapper li > svg {
  margin-right: 5px;
  width: 16px !important;
}

.footer--wrapper a {
  color: inherit;
}

.footer--wrapper a:hover {
  color: var(--primaryBlueHover);
}

.footer--devices-header {
  margin-bottom: 15px;
}

.footer--end {
  list-style-type: none;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 5rem;
  /* position: relative; */
}

.footer--end::after {
  content: '';
  border-top: 1px solid var(--mediumGrey);
  position: absolute;
  height: 1px;
  left: 16.5%;
  right: 16.5%;
}

.footer--end ul {
  display: flex;
  gap: 15px;
}
