ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav ul {
  display: flex;
  padding: initial;
  gap: 2rem;
}

.nav--link {
  color: black;
  /* padding: 1rem 0; */
}

.nav--link:hover {
  color: var(--primaryBlueHover);
}

.login--label {
  color: var(--mediumGrey);
}

.nav--wrapper {
  background-color: var(--white);
  max-height: 72px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  overflow: visible;
  padding: 0 5%;
  padding-left: 4.5%;
  z-index: 1000;
}

.nav--bar {
  display: flex;
  justify-content: space-between;
  max-height: 100%;
}

.nav--item {
  display: flex;
  align-items: center;
  font-feature-settings: 'tnum';
  height: 100%;
  padding: 1rem 0;
}

.logo--wrapper {
  height: 52px;
  padding: 0;
}

.nav--right {
  height: 100%;
  align-self: center;
  display: flex;
  gap: 10px;
}

.logo {
  height: inherit;
}

/* .logo:hover {
  color: rgb(8, 112, 209);
  background-color: rgb(255, 255, 255);
  fill: rgb(8, 112, 209);
} */
.navbar-ani-enter {
  transform: scaleY(0.1);
  transform-origin: top;
  opacity: 0 !important;
}
.navbar-ani-enter-active {
  transform: scaleY(1);
  opacity: 1 !important;
  transition: opacity 200ms, transform 200ms;
}
.navbar-ani-exit {
  transform: scaleY(1);
  transform-origin: top;
  opacity: 1 !important;
}
.navbar-ani-exit-active {
  opacity: 0 !important;
  transform: scaleY(0);
  transition: opacity 200ms, transform 200ms;
}
