ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

nav ul {
  display: flex;
  padding: initial;
  gap: 2rem;
}

.nav--link {
  color: black;
  /* padding: 1rem 0; */
}

.nav--link:hover {
  color: rgb(8, 112, 209);
}

.login--label {
  color: rgb(109, 115, 120);
}

.nav--wrapper {
  max-height: 72px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 0 5%;
  padding-left: 4.5%;
}

.nav--bar {
  display: flex;
  justify-content: space-between;
  max-height: 100%;
}

.nav--item {
  display: flex;
  align-items: center;
  font-feature-settings: 'tnum';
  height: 100%;
  padding: 1rem 0;
}

.logo--wrapper {
  height: 52px;
  padding: 0;
}

.nav--right {
  height: 100%;
  align-self: center;
}

.logo {
  height: inherit;
}

/* .logo:hover {
  color: rgb(8, 112, 209);
  background-color: rgb(255, 255, 255);
  fill: rgb(8, 112, 209);
} */
