.editor--view {
  width: 60%;
  max-height: 620px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.editor--view > img {
  /* object-fit: cover; */
  /* width: 100%; */
  /* max-height: 100%; */
  max-height: 294px;
}
